body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"] {
    width: 15em;
    margin-left: 0.5em;
}
br { clear: both; }
#submit { margin-left: 7.5em; }